# ==============================================
# 1. 核心忽略目录（绝对不提交）
# ==============================================
# 编译中间产物、工具源码（超大，必忽略）
/build/
.tool/
output/
.guide/
.process/
.build/
# 系统/编辑器缓存
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.cache/
# 调试过程材料
third_lib/compile_reference_configuration/
third_lib/aarch64/face_detector/model/quant/*.json
// 个人暂留文件
*.my
# ==============================================
# 2. 编译产物忽略（屏蔽所有临时文件）
# ==============================================
*.o
*.a
*.d
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.elf
*.bin
*.hex
*.map
*.log
*.tmp
scripts/shell_quick_script/tmp
# 【重点】默认忽略所有动态库（防止中间编译库提交）
*.so
*.so.*
# 个人配置文件
.bash_history
.ssh/

# ==============================================
# 3. 白名单：只放行项目核心文件（唯一允许提交的库/文件）
# ==============================================
# 放行最终可执行程序
!/output/vision_ai_app
# 放行VSCode配置（团队协作必备，包含调试配置）
!.vscode/ 
# 放行【预编译的第三方依赖库】（ARM版MNN+OpenCV，用户必备）
!/third_lib/aarch64/face_detector/mnn/lib/**
!/third_lib/aarch64/face_detector/mnn/include/**
# 放行AI模型文件（核心资源，必须提交）
!*.mnn